<div class="container">
  <h2 style="text-align: center">Add New Flight</h2>
  <form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
      "
    >
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>FlightId</mat-label>
          <input
            matInput
            id="FlightId"
            name="FlightId"
            placeholder="FlightId"
            [(ngModel)]="flight.FlightId"
          />
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Source</mat-label>
          <input
            matInput
            name="Source"
            placeholder="Source"
            [(ngModel)]="flight.Origin"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Destination</mat-label>
          <input
            name="Destination"
            matInput
            placeholder="Destination"
            [(ngModel)]="flight.Destination"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Departure</mat-label>
          <input
            matInput
            name="DeptTime"
            placeholder="Dept Time"
            [(ngModel)]="flight.DeptTime"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Arrival</mat-label>
          <input
            matInput
            name="arrivalTime"
            placeholder="Arrival Time"
            [(ngModel)]="flight.ArrivalTime"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Fare</mat-label>
          <input
            type="number"
            matInput
            name="Fare"
            placeholder="Fare"
            [(ngModel)]="flight.Fare"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-field field">
        <mat-form-field appearance="fill">
          <mat-label>No of Seats</mat-label>
          <input
            type="number"
            name="NoOfSeats"
            matInput
            placeholder="Capacity"
            [(ngModel)]="flight.NoOfSeats"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-field field">
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </div>
    </div>
  </form>
</div>
