<h1>Airline Reservation System</h1>
<nav class="navbar">
  <ul class="header-list">
    <li>
      <a routerLink="./ViewFlights">ViewFlights</a>
    </li>
    <li>
      <a *ngIf="isAdmin" routerLink="./AddFlight">Add Flight</a>
    </li>
    <li>
      <a *ngIf="!isAdmin" routerLink="./ViewReservations">View Reservations</a>
    </li>
    <li>
      <a *ngIf="isAdmin" routerLink="#">Genrate Report</a>
    </li>
    <li>
      <button (click)="logout()">Logout</button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
