<app-loader *ngIf="isLoading"></app-loader>
<ul class="list">
  <li>
    <div class="listItem header">
      <div>Ticket Id</div>
      <div>Name</div>
      <div>Contact no</div>
      <div>Email</div>
      <div>Total Fare</div>
      <div>No of Tickets</div>
      <div>Cancel</div>
    </div>
  </li>
  <li *ngFor="let ticket of tickets">
    <div class="listItem">
      <div class="item ticketId">{{ ticket.TicketNo }}</div>
      <div class="item passengerName">{{ ticket.PassengerName }}</div>
      <div class="item ContactNo">
        <p>{{ ticket.ContactNo }}</p>
      </div>
      <div class="item email">
        <p>{{ ticket.Email }}</p>
      </div>
      <div class="item fare">Rs. {{ ticket.TotalFare }}</div>
      <div class="item seats">
        {{ ticket.NoOfTickets }}
      </div>
      <div *ngIf="ticket.Status === 'Booked'" class="cancelTicket item">
        <button (click)="cancelTicket(ticket.TicketNo)">Cancel Ticket</button>
      </div>
      <div *ngIf="ticket.Status === 'Cancelled'" class="item status">
        <p style="color: red">CANCELLED</p>
      </div>
    </div>
  </li>
</ul>
