<form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="searchCriteria">
    <div class="inputBox">
      <label> Source: </label>
      <input type="text" id="origin" name="origin" [(ngModel)]="Source" />
    </div>
    <div class="inputBox">
      <label> Destination: </label>
      <input
        type="text"
        id="destination"
        name="destination"
        [(ngModel)]="Destination"
      />
    </div>
    <div class="inputBox">
      <label> Journey Date: </label>
      <input type="date" id="date" name="date" [(ngModel)]="date" />
    </div>
  </div>
  <button style="margin-top: 1rem" class="search-btn" type="submit">
    Search
  </button>
</form>
<div>
  <table
    style="width: 100%; margin-top: 3rem"
    mat-table
    [dataSource]="dataSource"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>FlightId</th>
      <td mat-cell *matCellDef="let flight">{{ flight.FlightId }}</td>
    </ng-container>
    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef>Origin</th>
      <td mat-cell *matCellDef="let flight">
        <div class="double">
          <p>{{ flight.Origin }}</p>
          <p style="color: red">{{ flight.DeptTime }}</p>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>Destination</th>
      <td mat-cell *matCellDef="let flight">
        <div>
          <p>{{ flight.Destination }}</p>
          <p style="color: green">{{ flight.ArrivalTime }}</p>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="fare">
      <th mat-header-cell *matHeaderCellDef>Fare</th>
      <td mat-cell *matCellDef="let flight">{{ flight.Fare }}</td>
    </ng-container>
    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef>Capacity</th>
      <td mat-cell *matCellDef="let flight">{{ flight.NoOfSeatsAvailable }}</td>
    </ng-container>
    <ng-container matColumnDef="booking">
      <th mat-header-cell *matHeaderCellDef>Book</th>
      <td mat-cell *matCellDef="let flight">
        <div class="bookTicket">
          <a
            [routerLink]="['../BookTicket']"
            [queryParams]="{ id: flight.FlightId, fare: flight.Fare }"
            *ngIf="flight.NoOfSeatsAvailable > 0"
            >Book</a
          >
          <button
            class="bookTicket"
            style="
              color: black;
              background: grey;
              border: none;
              border-radius: 8px;
              padding: 3px 6px;
            "
            disabled
            *ngIf="flight.NoOfSeatsAvailable <= 0"
          >
            Book
          </button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let flight">
        <div class="editFlight">
          <a
            [routerLink]="['../EditFlights']"
            [queryParams]="{ flightId: flight.FlightId }"
            >Edit</a
          >
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let flight">
        <div class="deleteFlight">
          <button (click)="removeFlight(flight.FlightId)">Delete</button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let flight">{{ flight.Status }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[2, 4, 6]"></mat-paginator>
</div>
