<h2 style="text-align: center">Book Your Flight</h2>
<form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="inputDiv">
    <label>PassengerName</label>
    <input
      name="PassengerName"
      type="text"
      [(ngModel)]="ticket.PassengerName"
    />
  </div>
  <div class="inputDiv">
    <label>No of Tickets</label>
    <input name="NoOfTickets" type="number" [(ngModel)]="ticket.NoOfTickets" />
  </div>
  <div class="inputDiv">
    <label>Contact Number</label>
    <input name="ContacNo" type="number" [(ngModel)]="ticket.ContactNo" />
  </div>
  <div class="inputDiv">
    <label>EmailId</label>
    <input name="Email" type="email" [(ngModel)]="ticket.Email" />
  </div>
  <div class="inputDiv">
    <label>Date of Journey</label>
    <input name="JourneyDate" type="date" [(ngModel)]="ticket.JourneyDate" />
  </div>
  <button type="submit">Book Ticket</button>
</form>
